body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
}

form,
section,
article {
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 1200px;
  text-align: center;
  margin: auto;
  padding: 0;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.site-navigation li {
  width: 240px;
}

.site-navigation a {
  display: block;
  padding: 15px 70px;
  vertical-align: middle;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #b2b2b2;
}

.site-navigation a:active {
  color: #766357;
}

.site-navigation-current a {
  color: #766357;
}

.reasons {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

section.reasons {
  background-image: url("../img/bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 573px;
  padding-bottom: 53px;
}

form.filter-hotels {
  background-image: url("../img/filter-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 26px;
  padding-bottom: 31px;
  color: #ffffff;
}

.reasons-item {
  text-align: center;
  padding-bottom: 56px;
}

.reasons-item h3 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.reasons p {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.reasons-item span,
.reasons-item p {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.recomendations {
  text-align: center;
}

.recomendations-item h3 {
  padding-top: 158px;
  font-size: 21px;
  line-height: 26px;
}

.recomendations-item p {
  padding-bottom: 83px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.reasons-list-b {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-list-e {
  background-color: #eeeeee;
  color: #000000;
}

.booking {
  text-align: center;
  padding-top: 52px;
}

.booking p {
  font-weight: normal;
}

.social-btns {
  text-align: center;
  list-style: none;
}

.footer-logo-html {
  text-align: right;
}

.search-hotels {
  display: inline-block;
  padding: 30px 135px;
  font: inherit;
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.search-hotels:hover {
  background-color: #604e43;
}

.search-hotels:active {
  background-color: #503e33;
  color: #857871;
}

.button-search {
  display: inline-block;
  padding: 16px 190px;
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.booking-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.booking-item input:hover {
  border-color: #ebebeb;
  background-color: #ebebeb;
}

.booking-item input:focus {
  border-color: #e5e5e5;
  background-color: #ffffff;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
}

.main-footer a {
  color: #000000;
}

.footer-insta {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 46px;
  margin-bottom: 52px;
  margin-left: 73px;
}

.social-button {
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-btns a {
  color: #ffffff;
}

.social-btns a:active {
  color: #88b6d1;
}

.footer-logo-html a {
  padding-right: 150px;
  position: relative;
}

.footer-logo-html a:hover {
  color: #81b3d2;
}

.footer-logo-html a:active {
  color: #bdbbbc;
}

.footer-logo-html span {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.footer-logo-html svg {
  position: absolute;
  top: -10px;
  left: 5px;
}

.infrastructure,
.hotel-type,
.hotel-price {
  text-align: center;
  font-weight: normal;
}

.infrastructure,
.hotel-type {
  margin-top: 16px;
}

.filter-result,
article {
  border-bottom: 1px solid #e5e5e5;
}

.button-show {
  font: inherit;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-show:hover {
  background-color: #ffffff;
  color: #000000;
}

.sort-list,
.arrows,
.stars {
  list-style: none;
  text-align: center;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort span {
  font-weight: bold;
}

.button-sort {
  color: #b2b2b2;
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
}

.button-sort-active {
  color: #92bdd8;
  border-bottom: none;
}

.sort-list a:hover {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;
}

.arrows a {
  color: #cacaca;
}

.arrows a:hover {
  color: #231f20;
}

.arrows a:active {
  color: #81b3d2;
}

a.button-down {
  color: #81b3d2;
}

li.stars {
  color: #81b3d2;
}

.raiting span {
  font-weight: normal;
  background-color: #f2f2f2;
}

.hotel-info h1 {
  font-size: 21px;
  line-height: 26px;
}

.hotel-name {
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.button-more {
  display: inline-block;
  padding: 3px 17px 3px;
  margin-right: 6px;
  margin-top: 13px;
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-booking {
  display: inline-block;
  padding: 3px 17px 3px;
  margin-top: 13px;
  font: inherit;
  color: #ffffff;
  background-color: #766357;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:active {
  color: #857871;
  background-color: #503e33;
}

/* Сеточные стили */

html,
body {
  min-width: 1200px;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.main-header-logo {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 138px;
  height: 70px;
}

.reasons-list-b,
.reasons-list-e,
.recomendations {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.reasons-item {
  width: 400px;
}

.recomendations-item {
  width: 400px;
}

.recomendations-item h3 {
  margin: 0;
  position: relative;
}

.house h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 163px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.presents h3::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 168px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-footer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.footer-insta,
.footer-logo-html {
  width: 240px;
  }

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.footer-logo-html {
  padding-right: 73px;
}

.filter-hotels {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.hotel-infrastructure {
  width: 312px;
}

.type-hotel {
  width: 400px;
}

.price-hotel {
  width: 488px;
}

.filter-result {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.filter-count {
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 207px;
}

.sort {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 393px;
}

.sort-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: ;
  flex-direction: row;
  justify-content: space-between;
}

.sort-list li {
  width: 96px;
}

.sorting {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: ;
  flex-direction: row;
  justify-content: space-between;
}

.dir-arrows {
  margin: 0;
  padding-right: 68px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 600px;
}

.arrows {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}

.hotel-description {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.hotel-info {
  margin: 0;
  padding-left: 73px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  width: 600px;
}

.hotel-img {
  padding-right: 30px;
}

.hotel-info-wrapper h1 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.hotel-span-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  width: 190px;
}

.hotel-span-wrapper span {
  padding-top: 5px;
}

.raiting {
  padding-right: 73px;
  padding-bottom: 31px;
  text-align: right;
  width: 600px;
}

.stars {
  margin-bottom: 47px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}

.social-btns {
  margin: 0 auto;
  padding: 0;
  width: 150px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-logo-html a:hover path {
  fill: #81b3d2;
}

.footer-logo-html a:active path {
  fill: #bdbbbc;
}
