body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 1200px;
  margin: auto;
  padding: 0;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navigation li {
  width: 240px;
}

.site-navigation a {
  display: block;
  padding: 15px 70px;
  vertical-align: middle;
  color: #000000;
}

li.left {
  padding-left: 72px;
  text-align: left;
}

li.middle {
  margin-right: 240px;
}

li.right {
  padding-right: 72px;
  text-align: right;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #b2b2b2;
}

.site-navigation a:active {
  color: #766357;
}

.site-navigation-current a {
  color: #766357;
}

.reasons {
  text-align: center;
  padding-left: 355px;
  padding-right: 355px;
  font-size: 21px;
  line-height: 26px;
}

.reasons p {
  padding-top: 15px;
  padding-bottom: 35px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

section.reasons {
  background-image: url("../img/bg.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
  padding-top: 568px;
}

form.filter-hotels {
  background-image: url("../img/filter-bg.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.reasons-item-b,
.reasons-item-e {
  padding: 0;
  text-align: center;
  width: 400px;
}

.reasons-item-b h3,
.reasons-item-e h3 {
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.reasons-item-e h3 {
  padding-top: 45px;
}

.reasons-item-b span,
.reasons-item-e span,
.reasons-item-b p,
.reasons-item-e p {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.reasons-item-e p {
  padding-top: 10px;
  padding-bottom: 42px;
}

.reasons-item-b {
  padding-left: 45px;
  padding-right: 45px;
}

.reasons-item-e {
  padding-left: 65px;
  padding-right: 65px;
}

.recomendations {
  text-align: center;
}

.recomendations-item h3 {
  padding-top: 160px;
  padding-bottom: 10px;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  position: relative;
}

.recomendations-item p {
  padding-bottom: 69px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.house p {
  padding-left: 72px;
  padding-right: 72px;
}

.food p {
  padding-left: 55px;
  padding-right: 55px;
}

.presents p {
  padding-left: 62px;
  padding-right: 60px;
}

.reasons-list-b,
.reasons-list-e,
.recomendations {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.reasons-list-b {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-list-e {
  background-color: #eeeeee;
  color: #000000;
}

.booking {
  margin: 0;
  padding: 0;
  text-align: center;
}

.booking h1 {
  font-size: 30px;
  line-height: 36px;
  padding-top: 30px;
  padding-bottom: 5px;
}

.booking p {
  padding-bottom: 33px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.social-btns {
  text-align: center;
  list-style: none;
}

.footer-logo-html {
  text-align: right;
  margin-right: 73px;
}

.search-hotels {
  display: inline-block;
  padding: 30px 140px;
  font: inherit;
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.search-hotels:hover {
  background-color: #604e43;
}

.search-hotels:active {
  background-color: #503e33;
  color: #857871;
}

.button-search {
  display: inline-block;
  padding: 16px 190px;
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.booking-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.booking-item input:hover {
  border-color: #ebebeb;
  background-color: #ebebeb;
}

.booking-item input:focus {
  border-color: #e5e5e5;
  background-color: #ffffff;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
}

.main-footer a {
  color: #000000;
}

.footer-insta {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 46px;
  margin-bottom: 52px;
  margin-left: 73px;
  padding-left: 60px;
}

.social-button {
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-btns a {
  color: #ffffff;
}

.social-btns a:active {
  color: #88b6d1;
}

.footer-logo-html a {
  padding-right: 150px;
  position: relative;
}

.footer-logo-html a:hover {
  color: #81b3d2;
}

.footer-logo-html a:active {
  color: #bdbbbc;
}

.footer-logo-html span {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.footer-logo-html svg {
  position: absolute;
  top: -10px;
  left: 5px;
}

.infrastructure,
.hotel-type {
  margin-bottom: 20px;
  text-align: left;
  font-weight: normal;
}

.infrastructure h2,
.hotel-type h2 {
  padding: 0;
  margin: 0;
  padding-top: 29px;
  font-size: 16px;
  line-height: 21px;
}

.infrastructure h2 {
  padding-left: 70px;
}

.hotel-type h2 {
  padding-left: 12px;
}

.infrastructure h2,
.hotel-type h2 {
  padding-bottom: 26px;
}

.infrastructure label {
  padding-left: 111px;
}

.hotel-type label {
  padding-left: 55px;
}

.infrastructure label,
.hotel-type label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox-left + label::before {
  content: "";
  position: absolute;
  left: 73px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox-right + label::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-result,
article {
  border-bottom: 1px solid #e5e5e5;
}

.price-hotel {
  margin-right: 70px;
  margin-left: 200px;
  width: 330px;
  text-transform: uppercase;
}

.filter-range-title {
  margin-top: 26px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.hotel-price-field {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.hotel-price-field::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.hotel-price-field label {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.hotel-price-field .min-price,
.hotel-price-field .max-price {
  width: 90px;
  padding-left: 65px;
}

.hotel-price-field input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls{
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-show:hover {
  background-color: #ffffff;
  color: #000000;
}

.sort-list,
.arrows,
.stars {
  list-style: none;
  text-align: center;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort span {
  padding-top: 37px;
  padding-right: 39px;
  font-weight: bold;
}

.button-sort {
  color: #b2b2b2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.button-sort-active {
  color: #92bdd8;
  border-bottom: none;
}

.sort-list a:hover {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;
}

.arrows a {
  color: #cacaca;
}

.arrows a:hover {
  color: #231f20;
}

.arrows a:active {
  color: #81b3d2;
}

a.button-down {
  color: #81b3d2;
}

li.stars {
  color: #81b3d2;
}

.stars li::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 73px;
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.raiting span {
  margin-top: 93px;
  margin-right: 73px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 14px;
  padding-right: 11px;
  display: inline-block;
  font-weight: normal;
  background-color: #f2f2f2;
}

.hotel-info h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-name {
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.button-more {
  display: inline-block;
  padding: 3px 16px 3px;
  margin-right: 4px;
  margin-top: 12px;
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-booking {
  display: inline-block;
  padding: 3px 16px 3px 17px;
  margin-top: 12px;
  font: inherit;
  color: #ffffff;
  background-color: #766357;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:active {
  color: #857871;
  background-color: #503e33;
}

/* Сеточные стили */

html,
body {
  min-width: 1200px;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.main-header-logo {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 138px;
  height: 70px;
}

.recomendations-item {
  width: 400px;
}

.house h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food h3::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 163px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.presents h3::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 168px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-footer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.footer-insta,
.footer-logo-html {
  width: 240px;
  }

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.filter-hotels {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.hotel-infrastructure {
  width: 312px;
}

.type-hotel {
  width: 288px;
}

.filter-result {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.filter-count {
  width: 235px;
}

.filter-count h2 {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-right: 45px;
  padding-top: 31px;
  padding-bottom: 33px;
  font-size: 21px;
  line-height: 26px;
}

.sort {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 565px;
}

.sort-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: ;
  flex-direction: row;
  justify-content: center;
}

.sort-list {
  margin: 0;
  padding: 0;
}

.sort-list li {
  padding-top: 37px;
  padding-right: 33px;
}

.sorting {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.dir-arrows {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 313px;
}

.arrows {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.arrows svg {
  padding-top: 41px;
}

.button-up svg {
  padding-left: 293px;
}

.button-down-a svg {
  padding-left: 12px;
  padding-top: 40px;
}

.button-up path {
  fill: #cacaca;
}

.button-down-a path {
  fill: #81b3d2;
}

.button-up:hover path,
.button-down-a:hover path {
  fill: #231f20;
}

.button-up:active path,
.button-down-a:active path {
  fill: #81b3d2;
}

.hotel-description {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.hotel-info {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  width: 600px;
}

.hotel-img {
  padding-right: 30px;
  padding-left: 72px;
  padding-top: 27px;
  padding-bottom: 30px;
}

.hotel-info-wrapper h1 {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  text-align: left;
}

.hotel-span-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: normal;
}

.hotel-span-wrapper span {
  padding-top: 4px;
  padding-right: 39px;
}

.raiting {
  position: relative;
  text-align: right;
  width: 600px;
}

.stars {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}

.social-btns {
  margin: 0;
  padding: 0;
  margin-left: 125px;
  margin-right: 125px;
  width: 150px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-logo:hover path {
  fill: #81b3d2;
}

.footer-logo:active path {
  fill: #bdbbbc;
}
